sudo: required
dist: trusty
language: generic
services:
- docker
env:
  global:
  - COMMIT=${TRAVIS_COMMIT::8}
  - secure: Ocwyi86A4+NbA8jV/omk64AWwrl3ZvIWUoUpvvMmTs/mW3vQyWH10cgU86aB634wpkaZv8M5Pt3AkWz9AcFAl/xKUpFtBCGBjOfypYhBaV8WMOlBOkI9QnO1Phxqy5EjRLOKh/vsUYL1riCm2CF+nY5IYho9iAcKYyeKaht+19trADCq3MeKNkZWs0KLCzmQnspwwUSUekufZSUZUpz50mBICxE74QPuwnUVBqIHMDfQzerj/84ikm4RVhxQRTDJqotTc8zfRh6HqA2+AFEHJhsrg9kO6+c5OCAJTcwMvUfNSCpIrSYGogQECSHnFRoDu9JrWNEBmJfOgmo8/YRCmfX/4KDOozsdFHmdpxfaOsKIsf4ndiUEHk4DFFKmqSdxzFSmpfkhdsiTWisqVuXr5Ue8o/BGR6/JH7FtLvh7KUiCU691fPs1Uyh2L6/AloOiHIU6mMgLt4Z+IzHPbUMJucfp8XWQisfTuIDymE+T9Wt6oOqE4rvNz62hft/IyzJWQ30SCvxKMDLP+7vx2g3TK/uaAzKOYc98hFJtfl8/UlvGwTxqcTKlKzEbpVP/cB4fNeVcFZIqSJLYvYBYIHqWu+uiuP7/QqVptVDxop1vjwPXhywJMUTVjnaxyPp6fZHQhXbmW5/mDiv/H8NbhbRWN/Hx3r37QoTr/v+dvVZsVsA=
  - secure: agVq9FOEGeTrUoVsIh+nB3YrSTm0HvotZmdom3kxsrNmUKbnNP/o3p3pECTMuT2C5sxgB/uPKCrpA1QH2N/V+A38Wt+162Vq9Fmpwp8xG6Ckztv7G3b8JQGifUYlhPL5q8l3v1EhsJlcFu7EQufRdkR0uY2fcdV/51Q1hzXCwtqRMLtxiibxuMmDOs/RfIUawuwqEIMxLlcQau6A2h7xEqs9EcW7vJFMZZBvRrqxzoviagUw0SNQAsSbC1DMEsP8aCnLLQHJ5sxhTlAMVYgraBWak4UUj6ceUu6UQI7LDQLXXGUASv4nxNrlOaQVY+WVEyGV0zRHG7vZgHeYqC8Uzlay+t3zsOBuGYoBOKQmFvZ4eikOGyfTcGt3o1qtEgMIbwdHYKow1f3gIERyaHHXO+NAFPfybJWBuQ/czoVm0Fk+W/ekzq4xD1oqLNQozuK/xGTRBbZ+jngJakqGrgjr80myWAnTupz6sdBgQLghzPOsJWQNEx1Wn6mRCJKyqLGtrQQa3Wk9EDyGaUHalrrvXB/XJdkMZSIL1+WMDH4LbUYdp7MkOTrpTJnQd/lkAh+szHa3fitZLRWkf2QnkhB2MHli1egD6aBFO5vjB26ZBantvDpYPfmggRSrjtWNL0QJED6EItWaFMcJ5AsXqgXYfuPm2GcpdX4QKQmiIIdFi6w=
  - secure: WLE8KBDX98Y0jppEbfaP+DWMFoVEO0NhbIhxzAFgxmH1KwOAdXFSyNyF1cF2pceSkI5nP8bubsvHRxZcCxvWwDWEf1Rl743B9NPzK5tD12LY6LEU0Y2a7+koJHEYU2j4XzbxSLfBdRurlpx/DNryUnorVQI0Gas4+aBXtXMe5hKwGN3yAOFAbkrsXxnFKJIPvfOUhWMq9SA1Ss2N6zPJ6Sxd0dkaPQJ5LSOgKgmbnLThxA/F+qia1RYNR5rzfTbh0soc0G3MKWOFDicVJYhSqm8d7JXN66OckEzETSs0WuHMBvyV1w6vehvO5Hcm7GG12V2RWKakDOLwv4idfPfOrsFTwYFXBEZOfnbdBb+gx5V3qKVRZdDRGZjSZ0nBTa0Y58Bnkv2Z51YsOo5hnG4vXclEpl4l7yLj5BAaFcaKVwTFPJzflcvmr9Dfbn2raQmE5nORd4FY9TfiBaD/O1PpGSbGloN720jvrpC7tFN8lkW5XmNjJX6Jw1iaPmAACAo65zpZSN6OoH2qqBGD+VQ8FOK3GNPRiQPKNNno15izjvSat0hlMMDBxHU4BXRfjP7QsucLex1ay24xAArTySBbpk1nZi3kalvYuM//wt/Rqset8hHYvXZyLYFsZRNLvpdsBaQTqSbuQPlSKDe52NpBivxEg8JIIEEsAo2a6MSYuVA=
matrix:
  include:
  - os: linux
    env: ZSH_VERSION=zsh-5.3.1
  - os: linux
    env: ZSH_VERSION=zsh-5.3
  - os: linux
    env: ZSH_VERSION=zsh-5.2
  - os: linux
    env: ZSH_VERSION=zsh-5.1.1
  - os: linux
    env: ZSH_VERSION=zsh-5.0.0
  - os: linux
    env: ZSH_VERSION=zsh-4.3.17
  - os: linux
    env: ZSH_VERSION=zsh-4.3.11
before_script:
- uname -a
- docker --version
- REPOSITORY=desyncr/zsh-docker-$ZSH_VERSION
script:
- make build VERSION=$ZSH_VERSION 
- docker build -t $REPOSITORY .
after_success:
- docker login -e $DOCKER_HUB_EMAIL -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
- docker tag $REPOSITORY:$COMMIT $REPOSITORY:latest
- docker push $REPOSITORY
